<section id="content" to-top>
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <h5 class="heading">Sobre los autores</h5>
                <div><img src="assets/img/autor1.jpg">Roque Roque Frías (La Habana, 1936). Doctor en Medicina en la Universidad de Ciencias Médicas de La Habana. Especialista de II Grado en Obstetricia y Ginecología, Máster en Atención Integral a la Mujer y Profesor Consultante de la Universidad de Ciencias Médicas. Es autor de diversas publicaciones, entre ellas El libro de mamá.</div>
                <div><img src="assets/img/autor2.jpg"><p class="contenido">Miguel Ángel Rodríguez Afá (La Habana, 1963). Doctor en Medicina en la Universidad de Ciencias Médicas de La Habana. Especialista de I Grado en Obstetricia y Ginecología, Máster en Atención Integral a la Mujer y Profesor Asistente.</p></div>


                <div id="grid-container" class="cbp-l-grid-projects">
                    <ul>
                        <li class="cbp-item graphic">
                            <div class="cbp-caption">
                                <div class="cbp-caption-defaultWrap">
                                    <img src="img/works/1.jpg" alt="" />
                                </div>
                                <div class="cbp-caption-activeWrap">
                                    <div class="cbp-l-caption-alignCenter">
                                        <div class="cbp-l-caption-body">
                                            <a href="img/works/1big.jpg" class="cbp-lightbox cbp-l-caption-buttonRight" data-title="Dashboard<br>by Paul Flavius Nechita">view larger</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="cbp-l-grid-projects-title">Dashboard</div>
                            <div class="cbp-l-grid-projects-desc">Web Design / Graphic</div>
                        </li>
                        <li class="cbp-item web-design logo">
                            <div class="cbp-caption">
                                <div class="cbp-caption-defaultWrap">
                                    <img src="img/works/2.jpg" alt="" />
                                </div>
                                <div class="cbp-caption-activeWrap">
                                    <div class="cbp-l-caption-alignCenter">
                                        <div class="cbp-l-caption-body">
                                            <a href="img/works/2big.jpg" class="cbp-lightbox cbp-l-caption-buttonRight" data-title="World Clock Widget<br>by Paul Flavius Nechita">view larger</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="cbp-l-grid-projects-title">World Clock Widget</div>
                            <div class="cbp-l-grid-projects-desc">Logo / Web Design</div>
                        </li>

                    </ul>
                </div>

            </div>
        </div>
    </div>
</section>