
<section id="content" to-top>
    <div class="container">
        <div class="row creditsRow">
                 <div class="col-xs-6 col-sm-6 col-lg-8">
                     <div class="row">
                         <div class="col-xs-6 creditos-left" >
                             <a href="#" class="theme-btn btn-style-one one">EQUIPO DE REALIZACIÓN</a>

                         </div>
                         <div class="espacio"></div>
                      </div>
                     <div class="row">
                        <div class="col-xs-6">
                          <p class="resaltar">DIRECCIÓN DE PROYECTO</p>
                          <p class="responsable">Lic. Yanet Cabargas Fernández</p>
                         </div>
                      </div>

                     <div class="row">
                        <div class="col-xs-6">
                          <p class="resaltar">Proveedor DE CONTENIDOS</p>
                          <p class="responsable">MSc. Silvia del Carmen Manzur Rodés</p>
                          <p class="responsable">Dr. Miguel Rolando González Corona</p>
                         </div>
                     </div>

                     <div class="row">
                      <div class="col-xs-6">
                          <p class="resaltar">DISEño y PROGRAMACIÓN</p>
                          <p class="responsable">Ing. Yelena Islen San Juan</p>
                         </div>
                      </div>
                     <div class="row">
                         <div class="col-xs-6">
                             <p class="resaltar">Edición de imágenes</p>
                             <p class="responsable">Tec. Raiko Olivera González</p>
                             <p class="responsable">Lic. Javier Agudo Durán</p>
                         </div>
                     </div>
                     <div class="row">
                         <div class="col-xs-6">
                             <p class="resaltar">CONTROL DE LA CALIDAD</p>
                             <p class="responsable">Lic. Maylen Gesen Gallinal</p>
                         </div>
                     </div>
                     <div class="row">
                         <div class="col-xs-6">
                             <p class="resaltar">ASEGURAMIENTO DE LA CALIDAD</p>
                             <p class="responsable">MSc. Mercedes María Sosa Hernández</p>

                         </div>
                     </div>


                 </div>
                 <div class="col-xs-6 col-lg-4 credits">
                     <div class="row">
                         <div class="col-xs-6 creditos-right">
                             <a href="#" class="theme-btn btn-style-three one">CRÉDITOS INSTITUCIONALES</a>
                         </div>
                         <div class="espacio"></div>
                     </div>
                     <div class="row">
                         <div class="col-xs-6">
                             <p class="resaltar">DIRECTORA GENERAL</p>
                             <p class="responsable">MSc. Beatriz Alonso Becerra</p>
                         </div>
                     </div>
                     <div class="row">
                         <div class="col-xs-6">
                             <p class="resaltar">DIRECTORA COMERCIAL</p>
                             <p class="responsable">Ing. Dania Molina Pimienta</p>
                         </div>
                     </div>

                     <div class="row">
                         <div class="col-xs-6">
                             <p class="resaltar">DIRECTORA DE DESARROLLO E INNOVACIÓN TECNOLÓGICA</p>
                             <p class="responsable">Ing. Niurka Armas Lock</p>
                         </div>
                     </div>

                     <div class="row">
                         <div class="col-xs-6">
                             <p class="resaltar">DIRECTOR UEB PROYECTOS MULTIMEDIA</p>
                             <p class="responsable">Lic. Jorge Acosta Ezcurra</p>
                         </div>
                     </div>

                     <div class="row">
                         <div class="col-xs-6">
                             <p class="resaltar">GESTIÓN DE LA CALIDAD Y AUDITORÍA</p>
                             <p class="responsable">MSc. Mercedes María Sosa Hernández</p>
                         </div>
                     </div>

                 </div>


        </div>
        <div class="row creditsRow credits"><div class="col-md-12 text-center">{{isbn}}</div></div>
        <div class="row creditsRow"><div class="col-md-12 text-center">COPYRIGHT CITMATEL, 2017</div></div>


    </div>
</section>