<!--Exit-->
<section class="about article" id="exit">
    <div class="container text-center">
        <h2 class="titulo">
            ¿Desea Salir?
        </h2>
        <div class="salir">
        <i id="slide" style="font-size: 5em" class="fa fa-plug  fa-5x fa-fw fa-rotate-1" aria-hidden="true"></i>
            </div>

        <div style="margin-bottom: 5.5em"></div>
        <div class="row">
            <div class="col-md-12">
                <button class="btn btn-primary" type="button" ng-click="ExitApp()">Aceptar</button>
                <button class="btn btn-danger" type="button"  ng-click="GoBack()">Cancelar</button>
            </div>
        </div>
        <div class="row push-bottom"></div>
    </div>

</section>
<!--Exit-->