<div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-label="Close" data-ng-click="Close()">
        <span aria-hidden="true">×</span></button>
    <h4 class="modal-title">Resultados de la búsqueda</h4>
</div>
<div class="modal-body">
   <div class="row-fluid">
       <div class="col-lg-12">
           <ul class="results">
               <li dir-paginate="item in items | searchFor:searchString | itemsPerPage:4 as results" ng-click="setItem(item)">
                   <span>{{item.title}}</span>
                   <p class="searchP" ng-bind-html="item.content | highlights:searchString"></p>
               </li>
               <li style="text-align:center;" ng-show="!results">
                   <p class="no-results">No se han encontrado resultados</p>
               </li>
           </ul>
       </div>
   </div>
    <div class="row-fluid">
        <div class="col" style="text-align: center;">
            <div class="pag-control pagination">
                <dir-pagination-controls
                        max-size="5"
                        direction-links="true"
                        boundary-links="true" ng-show="results">
                </dir-pagination-controls>
            </div>
        </div>
    </div>

    <div class="modal-footer">
    </div>
</div>